<div class="navbar navbar-expand-sm navbar-light bg-dark sticky-top ">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "w-25", style: "filter: invert(1) brightness(100);" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown" style="margin-right: 10px;">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://www.jedipedia.net/w/images/5/5f/Chewbacca-Battlefront.jpg", class: "avatar", alt: "user avatar" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%#= link_to "Offer a new spaceship", new_spaceship_path, class: "dropdown-item" %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
            <i class="fa-brands fa-space-awesome fa-flip text-white"></i>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
