<div class="p-3">
  <h1>Your upcoming</h1>
  <h1>space events</h1>
</div>

<div class="overflow-auto mx-5 py-2" style="max-height: 350px;">
  <div class="d-flex flex-column my-1">
    <% @my_bookings.each do |booking| %>
      <div class="border p-3 my-2" style="background-color: #D65A31; border-radius: 5px;">
        <h6 class="spaceship-name-toggle d-flex justify-content-between pt-2">
          <span><%= booking.spaceship.name %> <%= booking.spaceship.model %></span>
          <span>Booked: <%= booking.end_date.strftime('%b %d, %Y') %></span>
        </h6>
      </div>

      <div class="details-box" style="display: none;">
        <div class="bookings-page-content d-flex flex-column justify-content-center align-items-center"
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url('<%= url_for(booking.spaceship.photo) %>');">
            <h1>Your booking of </h1>
            <h1><%= "#{booking.spaceship.name} #{booking.spaceship.model}" %></h1>
            <h6>From: <%= booking.start_date %> to: <%= booking.end_date %></h6>
            <p class="mb-0">The Daily Rate: <%= booking.spaceship.daily_rate %></p>
            <p class="mb-0">Total Invoice Amount: <%= (((booking.end_date - booking.start_date).to_i + 1) * booking.spaceship.daily_rate).round(2) %></p>
        </div>

      </div>
    <% end %>
  </div>
</div>

<div>

<h1>My Spaceships</h1>
<% @spaceships.each do | spaceship|  %>
<h3><%= spaceship.name %></h3>
<% end %>


<h1>My open booking requests</h1>
<p><% @my_spaceships_bookings.each do | spaceship_booking | %>
  <h3><%= spaceship_booking.spaceship.name%></h3>
  <%= spaceship_booking.start_date%>
  <%= spaceship_booking.end_date%></p>
<% end %>
</div>

<script>
  $(document).ready(function() {
    $(".spaceship-name-toggle").click(function() {
      $(this).parent().next(".details-box").slideToggle();
    });
  });
</script>
