<h1>Welcome to Space, may I take your order?</h1>

<div class="cards">
  <% @spaceships.each do | spaceship |  %>
      <div class="card m-3" style="background-color: #F6F4EB; border-radius: 10px;">
        <div class="d-flex align-items-start" style="background-color: #222; border-radius: 10px; color: #FFF;">
          <%= image_tag spaceship.photo, class: "spaceship-image" %>
          <div class="d-flex flex-column justify-content-center" style="width: 100%;">
            <div class="d-flex justify-content-center align-items-center">
              <h6 class="col-9" style="font-size: 14px;"><%= spaceship.name %> <%= spaceship.model %></h6>
              <p class="col-2 d-flex flex-column align-items-end mt-1" style="font-size: 12px;"><%= spaceship.daily_rate %> 'ro's</p>
            </div>
            <div class="overflow-auto d-flex justify-content-center" style="max-height: 80px;">
              <p class="p-3 my-1 text-center" style="font-size: 12px;"><%= spaceship.description %></p>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
