<h1 class="mt-2">Welcome to Space, book your next journey</h1>
  <%= render "shared/searchbar" %>
<div class="container overflow-auto" style="max-height: 1200px;">
  <div class="row">
    <% @spaceships.each do |spaceship| %>
      <div class="col-md-6 col-lg-4">
        <%= link_to spaceship_path(spaceship), class: "card space-card m-4", style: "background-color: #F6F4EB; border-radius: 10px; min-width: 300px; text-decoration: none;" do %>
          <div class="d-flex flex-column" style="background-color: #222; border-radius: 10px; color: #FFF;">
            <%= image_tag spaceship.photo, class: "card-img-top spaceship-image" %>
            <h6 class="mt-3"><%= "#{spaceship.name} - #{spaceship.model}" %></h6>
            <div class="overflow-auto" style="max-height: 80px;">
              <p class="card-text p-3 my-1 text-center" style="font-size: 13px;"><%= spaceship.description %></p>
            </div>

            <div class="d-flex justify-content-center mb-2">
              <div class="col-3">
              </div>
              <div class="d-flex col-6 justify-content-center">
                <i class="fa-brands fa-bitcoin mx-1"></i>
                <i class="fa-brands fa-cc-visa mx-1"></i>
                <i class="fa-brands fa-cc-mastercard mx-1"></i>
                <i class="fa-brands fa-cc-paypal mx-1"></i>
                <i class="fa-brands fa-cc-apple-pay mx-1"></i>
              </div>
              <div class="daily-rate col-3" style="font-size: 12px; margin-left: 10px;">
                <i class="fa-solid fa-dollar-sign"></i>
                <%= spaceship.daily_rate %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
