<div class="show-page-content d-flex flex-column col-lg-12"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('<%= url_for(@spaceship.photo) %>');">
  <span style="color: #FF6000;">
    <h1 class="mt-5"><%= @spaceship.name %></h1>
    <h1><%= @spaceship.model %></h1>
  </span>
  <p style="margin-top: auto; font-size: 30px;"><%= @spaceship.description %></p>
  <div class="container mt-auto mb-3">
    <h6 style="font-size: 20px;"> Price per day: <span style="color: #FF6000; font-size: 20px;"><i class="fa-solid fa-dollar-sign"></i><%= @spaceship.daily_rate %></span></h6>
    <%= render "bookings/form", booking: @booking %>
  </div>
</div>
