<div class="show-page-content" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= url_for(@spaceship.photo) %>');">
  <h1>Spaceships#show</h1>
  <p>Book my spaceship, it's cool!</p>
  <h1><%= @spaceship.name %></h1>
  <h2><%= @spaceship.model %></h2>
  <h2><%= @spaceship.description %></h2>
  <h2><%= @spaceship.daily_rate %></h2>
</div>
