<div class="show-page-content"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('<%= url_for(@spaceship.photo) %>');">
  <h1><%= @spaceship.name %><%= @spaceship.model %></h1>
  <p><%= @spaceship.description %></p>
  <h6><%= @spaceship.daily_rate %></h6>
  <%= render "bookings/form", booking: @booking %>
</div>
