<!DOCTYPE html>
<html>
  <head>
    <title>MySpaceShip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body style="background-color: #F6F4EB;">
  <%= render "shared/navbar" %>
     <div class="d-flex justify-content-center align-items-center" style="height: 100%; min-height: 95vh;">
      <div class="card text-center text-white my-5" style="background-color: #393E46; border-radius: 10px;">
        <%= yield %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
