<!DOCTYPE html>
<html>
  <head>
    <title>MySpaceShip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #F6F4EB;">
  <%= render "shared/navbar" %>
     <div class="d-flex flex-wrap justify-content-center align-items-center" style="height: 100%; min-height: 95vh;">
      <div class="card text-center text-white p-3 my-5 shadow" style="background-color: #393E46; border-radius: 10px;">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
